.env
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Environment variables
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# macOS system files
.DS_Store

# Virtual environments
venv/
env/
.venv/
.python-version

# pipenv
Pipfile.lock

# pyenv
.python-version

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# pytest
.cache/

# coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# pyright
typings/

# logs
*.log

# compiled notebooks (if you use nbconvert)
*.nbconvert.ipynb
